<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-md-6">
        <img src="<%= album.image %>" alt="">
    </div>
    
    <div class="col-md-6">
        <h1><%= album.name %></h1>
        <h3>
            <% let artistsString = "" %>
            <% for (let artist of album.artists) { %>
                <% artistsString += `${artist.name}, ` %>
            <% } %>
            <% artistsString = artistsString.replace(/,\s*$/, "") %>
            <%= artistsString %>
        </h3>
        <h4><%= album.release_date %></h4>
    </div>
</div>

<div class="mt-6">
    <% for (let track of album.tracks) { %>
        <%- include('../partials/songRow', {track: track, showRemoveButton: false})%>
    <% } %>
</div>
