<% layout('layouts/boilerplate')%>

<%- include('../partials/searchBar') %>

<% if (tracks) { %>
    <div class="mb-4">
        <h3 class="mb-4">Canzoni</h3>
        <% for (let track of tracks) { %>
            <%- include('../partials/songRow', {track: track, showRemoveButton: false})%>
        <% } %>
    </div>
<% } %>

<% if (albums) { %>
    <div class="row">
        <div class="container">
            <h3>Album</h3>
            <div class="d-flex mb-4">
                <% for (let album of albums) { %>
                    <%- include('../partials/albumCard', {album: album})%>
                <% } %>
            </div>
        </div>
    </div>
<% } %>

<% if (artists) { %>
    <div class="container">
        <h3>Artisti</h3>
        <div class="d-flex mb-4">
            <% for (let artist of artists) { %>
                <%- include('../partials/artistCard', {artist: artist})%>
            <% } %>
        </div>
    </div>
<% } %>

<hr>

<% if (users && users.length >= 1) { %>
    <div class="container">
        <h3>Utenti</h3>
        <ul>
            <% for (let user of users) { %>
                <li><a href="/users/<%= user.id %>"><%= user.username %></a></li>
            <% } %>
        </ul>
    </div>
<% } %>

<hr>

<% if (playlist && playlist.length >= 1) { %>
    <div class="container">
        <h3>Playlist</h3>
        <ul>
            <% for (let pl of playlist) { %>
                <li><a href="/playlist/<%= pl.id %>"><%= pl.name %></a></li>
            <% } %>
        </ul>
    </div>
<% } %>