<% layout('layouts/boilerplate')%>

<%- include('../partials/searchBar') %>

<% if (tracks) { %>
    <div class="mb-4">
        <h3 class="mb-4">Canzoni</h3>
        <% for (let track of tracks) { %>
            <%- include('../partials/songRow', {track: track, showRemoveButton: false})%>
        <% } %>
    </div>
<% } %>

<% if (albums) { %>
    <div class="row">
        <div class="container">
            <h3>Album</h3>
            <div class="d-flex mb-4">
                <% for (let album of albums) { %>
                    <%- include('../partials/albumCard', {album: album})%>
                <% } %>
            </div>
        </div>
    </div>
<% } %>

<% if (artists) { %>
    <div class="container">
        <h3>Artisti</h3>
        <div class="d-flex mb-4">
            <% for (let artist of artists) { %>
                <%- include('../partials/artistCard', {artist: artist})%>
            <% } %>
        </div>
    </div>
<% } %>



<% if (users && users.length >= 1) { %>
    <hr>
    <div class="container">
        <h3>Utenti</h3>
            <% for (let user of users) { %>
                <a href="/users/<%= user.id %>" class="btn btn-secondary">
                    <img src="/images/person-fill.svg" alt="" style="width: 30px; height: 30px;"> <%= user.username %>
                </a>
            <% } %>
    </div>
<% } %>



<% if (playlist && playlist.length >= 1) { %>
    <hr>
    <div class="container mb-5">
        <h3>Playlist</h3>
            <% for (let pl of playlist) { %>
                <a href="/playlist/<%= pl.id %>" class="btn btn-secondary">
                    <img src="/images/playlist.svg" alt="" style="width: 30px; height: 30px;"> <%= pl.name %>
                </a>
            <% } %>
    </div>
<% } %>