<% layout('layouts/boilerplate')%>

<div class="row mb-5">
  <div class="col-md-6">
    <img src="<%= track.image %>" class="album-page-img">
  </div>

  <div class="col-lg-6 align-self-center">
    <h1 class="name"><%= track.name %></h1>
    
    <div class="row">
      <div class=" col-12 align-self-center">
        <a href="/search/album/<%= track.album.id %>" style="text-decoration: none;">
          <h3 class="text-dark"><img src="/images/disc.svg" alt="" style="width: 25px; height: 25px;"> <%= track.album.name %> <img src="/images/link.svg" alt="" style="width: 15px; height: 15px;"></h3>
        </a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 align-self-center">
        <h4><img src="/images/calendar3.svg" alt="" style="width: 25px; height: 25px;"> <%= track.album.release_date %></h4>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 align-self-center">
        <p><img src="/images/stopwatch.svg" alt="" style="width: 25px; height: 25px;"> <%= track.duration %></p>
      </div>
    </div>
    <p id="songId" style="display: none;" value="<%= track.id %>"><%= track.id %></p>


  <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#playlistModal">
      Aggiungi a una playlist
    </button>
  </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="playlistModal" tabindex="-1" aria-labelledby="playlistModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">A quale playlist vuoi aggiungere la canzone?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <%- include('../partials/songRow', {track, showRemoveButton:false}) %>

            <select class="form-select" data-width="fit" id="playlistSelector" name="playlistSelector">
                <option value="" selected>Seleziona una playlist</option>
                <% for (let playlist of userPlaylists) { %>
                    <option value="<%= playlist.id %>"><%= playlist.name %></option>
                <% } %>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
          <button type="button" class="btn btn-primary" id="addButton" onclick="return addToPlaylist()">Aggiungi</button>
        </div>
      </div>
    </div>
  </div>


<!--ADD TO PLAYLIST SCRIPT-->
<script src="/javascripts/addToPlaylist.js"></script>



