<% layout('layouts/boilerplate')%>
<img src="<%= track.image %>" alt="">
<h1><%= track.name %></h1>
<a href="/search/album/<%= track.album.id %>"><h3><%= track.album.name %></h3></a>
<h4><%= track.album.release_date %></h4>
<p>Durata: <%= track.duration %></p>
