<% layout('layouts/boilerplate')%>
<h1><%= playlist.name %></h1>
<h3><%= playlist.description %></h3>
<div>
    <h5  style="display: inline-block;">Creata da: </h5> <a href="/users/<%= playlist.author %>"><p style="display: inline-block;"><%= username %></p></a>
</div>

<% if (tags.length > 0 && tags[0] != "") { %>
    <div class="mb-5">
        <% for (let tag of tags) { %>
            <a class="btn btn-outline-secondary" href="/search/playlist/<%= tag %>"><%= tag %></a>
        <% } %>
    </div>
<% } %>


<p id="playlistId" style="display: none;" value="<%= playlist.id %>"><%= playlist.id %></p>

<% if (currentUser._id.equals(playlist.author)) { %>
    <a href="/playlist/<%= playlist.id %>/edit" class="btn btn-success">Modifica</a>
    <a href="/playlist/<%= playlist.id %>/delete" class="btn btn-danger">Elimina</a>
<% } %>



<!--nuova logica-->
<% if (!playlist.followers.includes(currentUser._id) && !playlist.author.equals(currentUser._id)) { %>
    <form action="/playlist/<%= playlist.id %>/follow" method="post">
        <button class="btn btn-primary" type="submit">Segui</button>
    </form>
<% } %>

<% if (playlist.followers.includes(currentUser._id) && !playlist.author.equals(currentUser._id)) { %>
    <form action="/playlist/<%= playlist.id %>/unfollow" method="post">
        <button class="btn btn-warning" type="submit">Non seguire più</button>
    </form>
<% } %>


<% if (playlistTracks.length > 0) { %>
<section>
    <div class="container">
        <div class="row mt-5">

            <% for (let track of playlistTracks) { %>
                
                <% if (track !== null) { %>
                    <% if(currentUser._id.equals(playlist.author)) { %>
                        <%- include('../partials/songRow', {track: track, showRemoveButton: true})%>
                    <% } else { %>
                        <%- include('../partials/songRow', {track: track, showRemoveButton: false})%>
                    <% } %>
                <% } %>    
                <hr>
            <% } %>

        </div>
    </div>
</section>
<% } %>