<% layout('layouts/boilerplate')%>
<h1><%= playlist.name %></h1>
<h3><%= playlist.description %></h3>
<h5>Creata da:</h5>
<a href="/users/<%= playlist.author %>"><p><%= username %></p></a>

<section>
    <div class="container">
        <div class="row mt-5">

            <% for (let track of playlistTracks) {%>
                <%- include('../partials/songRow', {track: track})%>
            <% } %>

        </div>
    </div>
</section>